.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  color: #fff;
  background-color: #000;
}

.footer p{}

.footer nav{}
nav .fnb{
  display: flex;
  gap: 1rem;
}
nav .fnb li{}
.fnb li a{
  display: block;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  transition: .3s;
}

@media (hover:hover){
  .fnb li a:hover{
    color: #000;
    background-color: #fff;
  }
}